@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body,html {
    width: 100%;
    height: 100%;
}

:root {
    --color-one: #253150;
    --color-two: #3F84FF;
    --color-three: #38465C;
    --color-four: #FF8200;
    --white-color: #FFFFFF;
    --gray-color: #F3F3F5;
    --black-color: #000000;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.main-container {
    max-width: 1800px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* navbar css start here */

.navbar {
    max-width: 1100px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background: var(--white-color);
    padding: 7px 5%;
}

.navbar .main-logo {
    width: 200px;
}

.navbar h2 {
    color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    line-height: 22px;
}

.navbar h2 a {
    text-decoration: none;
    color: var(--black-color);
}

/* nav list css start here */

.nav-list {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5%;
    background: var(--color-three);
}

.nav-list ul {
    list-style-type: none;
}

.nav-list ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav-list ul li a {
    color: var(--white-color);
    font-weight: 700;
    font-size: 17px;
}

/* first-section css start here */

.first-section {
    width: 100%;
    background: var(--gray-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.first-sec-content {
    max-width: 1100px;
    width: 100%;
    padding: 7px 5% 20px 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}

.first-section .f-sec-left {
    width: 60%;
}

.first-section .f-sec-right {
    width: 40%;
}

.f-sec-left .main-heading,.f-sec-left .main-heading-two {
    color: var(--black-color);
    font-size: 22px;
    font-weight: 700;
}

.f-sec-left .main-img {
    width: 100%;
    margin: 7px 0;
}

.f-sec-left .main-heading-two {
    margin-bottom: 10px;
}

.f-sec-left p {
    color: var(--black-color);
    font-size: 18px;
    margin-bottom: 27px;
    line-height: 26px;
}

.f-sec-left .f-left-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.f-sec-left .f-left-bottom p {
    margin-bottom: 0;
}

.f-sec-left .f-left-bottom button {
    border: none;
    outline: none;
    background: var(--color-two);
    color: var(--white-color);
    cursor: pointer;
    width: 365px;
    padding: 10px 0;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 400;
    transition: 0.2s;
}

.f-sec-left .f-left-bottom button:hover {
    background: #3878e6;
}

.f-sec-right .f-s-r-box {
    width: 100%;
    background: var(--white-color);
    padding: 12px 22px;
    margin-top: 15px;
}

.f-s-r-box .form-head {
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    margin-bottom: 17px;
    padding: 0 10px;
    font-weight: 800;
}

.f-s-r-box button {
    width: 100%;
    background: var(--color-two);
    color: var(--white-color);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 0;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    transition: 0.2s;
    margin-bottom: 22px;
}

.f-s-r-box button:hover {
    background: #3878e6;
}

.f-s-r-box h3 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 22px;
    font-weight: 800;
}

.f-s-r-box form {
    width: 100%;
}

.f-s-r-box form input {
    width: 100%;
    outline: none;
    border: 2px solid #333333;
    padding: 9px;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 12px;
    background: none;
}

.f-s-r-box form input::placeholder {
    color: #444444;
    font-weight: 600;
}

.f-s-r-box form textarea {
    width: 100%;
    outline: none;
    border: 2px solid #333333;
    padding: 8px;
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 12px;
    background: none;
}

.f-s-r-box form textarea::placeholder {
    color: #444444;
    font-weight: 600;
}

.f-s-r-box form input[type="submit"] {
    border: none;
    background: var(--color-four);
    color: var(--white-color);
    border-radius: 30px;
    padding: 12px 0;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s;
}

.f-sec-right .italic-font {
    font-style: italic;
    font-size: 14px;
    width: 56%;
    text-align: center;
    margin: 12px 0 7px 22%;
}

.f-sec-right .author-name {
    text-align: center;
    margin: 0;
    font-size: 20px;
    color: var(--black-color);
}

/* About Us Section CSS start here */

.aboutus-sec {
    max-width: 1100px;
    width: 100%;
    height: fit-content;
    padding: 20px 5%;
}

.aboutus-sec h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding-left: 20px;
    color: var(--black-color);
}

.about-content {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.about-content img {
    width: 30%;
}

.ab-con-con p {
    color: var(--black-color);
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 24px;
}

.ab-con-con .ab-con-bottom {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.ab-con-con .ab-con-bottom p {
    margin-bottom: 0;
}

.ab-con-con .ab-con-bottom button {
    width: 280px;
    outline: none;
    border: none;
    background: var(--color-two);
    border-radius: 4px;
    color: var(--white-color);
    font-size: 16px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.2s;
}

.ab-con-con .ab-con-bottom button:hover {
    background: #3878e6;
}

/* Services Section CSS Start Here */

.services-section {
    width: 100%;
    background: var(--gray-color);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.ser-sec-con {
    max-width: 1100px;
    width: 100%;
    height: fit-content;
    padding: 20px 5%;
}

.ser-sec-con h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: var(--black-color);
}

.ser-con-con {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.ser-con-con ul li {
    margin-bottom: 4px;
}

.ser-con-con ul li a {
    color: var(--black-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* Review Section CSS Start Here */

.review-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: var(--color-three);
}

.rev-sec-con {
    max-width: 1100px;
    width: 100%;
    padding: 20px 5%;
}

.rev-sec-con h2 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
    color: var(--white-color);
}

.rev-con-con {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 55px;
    flex-wrap: wrap;
}

.rev-con-con .rev-card {
    width: 260px;
    min-height: 290px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background: var(--white-color);
    border-radius: 4px;
}

.rev-card div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.rev-card img {
    width: 20%;
    margin-bottom: 5px;
}

.rev-card p {
    color: var(--color-one);
    font-style: italic;
    font-size: 16px;
    text-align: center;
}

.rev-card h3 {
    color: var(--black-color);
    font-size: 20px;
}

.contact-section {
    max-width: 1100px;
    width: 100%;
    padding: 20px 5%;
    background: var(--white-color);
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
}

.contact-left {
    width: 43%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-left .contact-logo {
    width: 85%;
    margin-bottom: 5px;
}

.contact-left button {
    background: var(--color-two);
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    padding: 8px 0;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 12px;
}

.contact-left button:hover {
    background: #3878e6;
}

.contact-left h2 {
    color: var(--black-color);
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 22px;
}

.contact-left h2 a {
    color: var(--black-color);
    text-decoration: none;
}

.contact-left .orange-btn {
    background: var(--color-four);
    margin-top: 20px;
}

.contact-right {
    width: 43%;
}

.contact-right h2 {
    width: 80%;
    color: var(--black-color);
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 15px;
    margin-left: 10%;
}

.contact-right img {
    width: 100%;
}

/* footer css start here */

.footer-section {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 35px 5% 10px 5%;
    background: var(--color-three);
}

.footer-section ul {
    list-style-type: none;
}

.footer-section ul li {
    display: inline-block;
    margin: 0 15px;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: 18px;
    transition: 0.2s;
}

.footer-section ul li a:hover {
    color: var(--white-color);
}

.footer-section .social-links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section .social-links a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    text-decoration: none;
}

.footer-section .social-links a i {
    font-size: 20px;
    color: var(--gray-color);
}

.footer-section .social-links a:hover {
    background: var(--white-color);
}

.footer-section .social-links a:hover i {
    color: var(--color-three);
}

.footer-section .copyright-txt {
    color: var(--gray-color);
    font-size: 15px;
    font-weight: 300;
}

/* responsive css start here */

@media(max-width:800px) {
    .navbar {
        padding: 5px 5%;
    }
    
    .navbar .main-logo {
        width: 150px;
    }
    
    .navbar h2 {
        font-size: 18px;
        line-height: 20px;
    }
    
    .navbar h2 a {
        text-decoration: none;
        color: var(--black-color);
    }
    
    .nav-list {
        padding: 8px 5%;
    }
    
    .nav-list ul li {
        display: inline-block;
        margin: 0 10px;
    }
    
    .nav-list ul li a {
        font-size: 14px;
    }
    
    .first-sec-content {
        padding: 7px 5% 20px 5%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .first-section .f-sec-left {
        max-width: 600px;
        width: 100%;
    }
    
    .first-section .f-sec-right {
        max-width: 600px;
        width: 100%;
    }
    
    .f-sec-left .main-heading,.f-sec-left .main-heading-two {
        font-size: 20px;
    }
    
    .f-sec-left .main-heading-two {
        margin-bottom: 10px;
    }
    
    .f-sec-left p {
        color: var(--black-color);
        font-size: 17px;
        margin-bottom: 25px;
        line-height: 24px;
    }
    
    .f-sec-left .f-left-bottom button {
        max-width: 365px;
        width: 100%;
        font-size: 16px;
    }
    
    .f-sec-right .f-s-r-box {
        padding: 12px 22px;
        margin-top: 15px;
    }
    
    .f-s-r-box .form-head {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 15px;
        padding: 0 10px;
    }
    
    .f-s-r-box button {
        font-size: 16px;
        margin-bottom: 22px;
    }
    
    .f-s-r-box h3 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 22px;
    }
    
    .f-s-r-box form input {
        border: 2px solid #333333;
        padding: 9px;
        font-size: 15px;
        margin-bottom: 12px;
    }
    
    .f-s-r-box form textarea {
        border: 2px solid #333333;
        padding: 8px;
        font-size: 15px;
        margin-bottom: 12px;
    }
    
    .f-s-r-box form input[type="submit"] {
        padding: 12px 0;
        font-size: 16px;
    }
    
    .f-sec-right .italic-font {
        font-size: 14px;
        width: 80%;
        margin: 12px 0 7px 10%;
    }
    
    .f-sec-right .author-name {
        font-size: 20px;
    }
    
    .aboutus-sec h2 {
        font-size: 24px;
        margin-bottom: 10px;
        padding-left: 0px;
    }
    
    .about-content {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    
    .about-content img {
        max-width: 450px;
        width: 100%;
    }
    
    .ab-con-con p {
        font-size: 16px;
        margin-bottom: 22px;
        line-height: 24px;
    }
    
    .ab-con-con .ab-con-bottom {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    
    .ab-con-con .ab-con-bottom button {
        max-width: 280px;
        width: 100%;
        font-size: 16px;
        padding: 8px 0;
    }
    
    .ser-sec-con h2 {
        font-size: 22px;
        margin-bottom: 15px;
        padding-left: 0px;
    }
    
    .ser-con-con {
        flex-wrap: wrap;
    }
    
    .ser-con-con ul li a {
        font-size: 16px;
    }
    
    .rev-sec-con h2 {
        font-size: 22px;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    
    .rev-con-con {
        gap: 20px;
    }
    
    .rev-con-con .rev-card {
        width: 100%;
        max-width: 350px;
        min-height: 250px;
        padding: 10px 20px;
    }
    .rev-card img {
        width: 60px;
        margin-bottom: 8px;
    }
    
    .rev-card p {
        font-size: 16px;
    }
    
    .contact-section {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .contact-left {
        max-width: 450px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .contact-left .contact-logo {
        max-width: 250px;
        width: 100%;
        margin-bottom: 5px;
    }
    
    .contact-left button {
        padding: 8px 0;
        font-size: 18px;
        margin-bottom: 12px;
    }
    
    .contact-left h2 {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 15px;
    }

    .contact-left .orange-btn {
        margin-top: 10px;
    }
    
    .contact-right {
        max-width: 450px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .contact-right h2 {
        max-width: 350px;
        width: 100%;
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 12px;
        margin-top: 0px;
        margin-left: 0;
    }
    
    /* footer css start here */
    
    .footer-section {
        gap: 25px;
        padding: 35px 5% 10px 5%;
    }

    .footer-section ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-section ul li {
        margin: 0 7px;
    }
    
    .footer-section ul li a {
        font-size: 15px;
    }
    
    .footer-section .social-links {
        gap: 15px;
    }
    
    .footer-section .social-links a {
        width: 35px;
        height: 35px;
    }
    
    .footer-section .social-links a i {
        font-size: 17px;
    }
    
    .footer-section .copyright-txt {
        text-align: center;
        font-size: 14px;
    }    
}


@media(max-width:550px) {
    .navbar .main-logo {
        width: 120px;
    }
    
    .navbar h2 {
        font-size: 16px;
        line-height: 18px;
    }
    .ab-con-con .ab-con-bottom button {
        max-width: none;
        width: 100%;
    }
}